In [1]:
import pandas as pd
import numpy as np

In [2]:
data2015_to_load = "Education/ACSDT1Y2015.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2015_to_load = "Education/ACSDT1Y2015.B07009_metadata_2019-12-21T130141.csv"

fulldata2015 = pd.read_csv(data2015_to_load)
metadata2015 = pd.read_csv(metadata2015_to_load)

In [3]:
fulldata2015.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US12119,"Sumter County, Florida",105817,524,7778,1759,32508,4161,30623,3520,...,263,217,92,130,107,142,121,169,98,169
2,0500000US12127,"Volusia County, Florida",382433,652,36897,3218,129175,5036,130281,5206,...,588,555,1019,649,548,393,722,582,359,263
3,0500000US13013,"Barrow County, Georgia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US13015,"Bartow County, Georgia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data2015 = fulldata2015[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2015 = data2015.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2015.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US12119,"Sumter County, Florida",32508,30623,21538,13370,105817
2,0500000US12127,"Volusia County, Florida",129175,130281,59187,26893,382433
3,0500000US13013,"Barrow County, Georgia",NaN,NaN,NaN,NaN,NaN
4,0500000US13015,"Bartow County, Georgia",NaN,NaN,NaN,NaN,NaN

In [6]:
data2015=data2015.drop(index =0)

In [7]:
data2015=data2015.reset_index(drop=True)

In [8]:
data2015.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US12119,"Sumter County, Florida",32508,30623,21538,13370,105817
1,0500000US12127,"Volusia County, Florida",129175,130281,59187,26893,382433
2,0500000US13013,"Barrow County, Georgia",NaN,NaN,NaN,NaN,NaN
3,0500000US13015,"Bartow County, Georgia",NaN,NaN,NaN,NaN,NaN
4,0500000US13021,"Bibb County, Georgia",32057,28159,14947,10210,99505

In [9]:
countySplit = data2015["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                0        1
0   Sumter County  Florida
1  Volusia County  Florida
2   Barrow County  Georgia
3   Bartow County  Georgia
4     Bibb County  Georgia

In [11]:
data2015["County"]= countySplit[0] 
data2015["State"]=countySplit[1]

In [12]:
data2015

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12119,Sumter County,32508,30623,21538,13370,105817,Florida
1,0500000US12127,Volusia County,129175,130281,59187,26893,382433,Florida
2,0500000US13013,Barrow County,NaN,NaN,NaN,NaN,NaN,Georgia
3,0500000US13015,Bartow County,NaN,NaN,NaN,NaN,NaN,Georgia
4,0500000US13021,Bibb County,32057,28159,14947,10210,99505,Georgia
5,0500000US13031,Bulloch County,9907,13494,5362,5789,39261,Georgia
6,0500000US13045,Carroll County,24716,21027,9018,5504,71676,Georgia
7,0500000US13047,Catoosa County,NaN,NaN,NaN,NaN,NaN,Georgia
8,0500000US13051,Chatham County,46001,63480,38356,22454,189564,Georgia
9,0500000US13057,Cherokee County,36705,45844,40354,20131,156090,Georgia
10,0500000US13059,Clarke County,12402,14205,15418,14188,66094,Georgia
11,0500000US13063,Clayton County,56506,54438,21174,11119,169140,Georgia
12,0500000US13067,Cobb County,93576,128306,145021,77138,491820,Georgia
13,0500000US13073,Columbia County,20781,31720,22076,11170,93923,Georgia
14,0500000US13077,Coweta County,28793,27310,17385,9167,91374,Georgia
15,0500000US13089,DeKalb County,100211,125810,121469,87622,495433,Georgia
16,0500000US13095,Dougherty County,18604,16727,7457,4782,57988,Georgia
17,0500000US13097,Douglas County,26040,25767,17894,10501,89945,Georgia
18,0500000US13113,Fayette County,15738,19778,24477,10436,74720,Georgia
19,0500000US13115,Floyd County,21060,17940,7065,4870,64448,Georgia
20,0500000US13117,Forsyth County,21327,39034,43448,22554,136817,Georgia
21,0500000US13121,Fulton County,126171,155332,199734,136161,673365,Georgia
22,0500000US13127,Glynn County,16154,18489,10042,6766,58250,Georgia
23,0500000US13135,Gwinnett County,134625,158465,131970,68235,565938,Georgia
24,0500000US13139,Hall County,34511,36281,17870,10514,125214,Georgia
25,0500000US13151,Henry County,41744,43259,25909,13188,137850,Georgia
26,0500000US13153,Houston County,26679,40876,11787,8873,97723,Georgia
27,0500000US13179,Liberty County,11744,13956,4392,1784,35448,Georgia
28,0500000US13185,Lowndes County,18799,21218,9359,5637,66644,Georgia
29,0500000US13215,Muscogee County,37927,42512,18707,12909,129080,Georgia
...,...,...,...,...,...,...,...,...
801,0500000US55063,La Crosse County,20138,26742,14787,8705,74896,Wisconsin
802,0500000US55071,Manitowoc County,22014,18909,8594,2114,57689,Wisconsin
803,0500000US55073,Marathon County,34167,28865,16016,6399,94391,Wisconsin
804,0500000US55079,Milwaukee County,168695,191437,121633,64393,628900,Wisconsin
805,0500000US55087,Outagamie County,42782,37383,26118,10035,123210,Wisconsin
806,0500000US55089,Ozaukee County,NaN,NaN,NaN,NaN,NaN,Wisconsin
807,0500000US55097,Portage County,NaN,NaN,NaN,NaN,NaN,Wisconsin
808,0500000US55101,Racine County,39231,46555,21162,10498,131952,Wisconsin
809,0500000US55105,Rock County,40192,34129,16055,7727,109280,Wisconsin
810,0500000US55109,St. Croix County,15340,22544,12783,5473,58408,Wisconsin
811,0500000US55117,Sheboygan County,30561,24186,12767,6096,80718,Wisconsin
812,0500000US55127,Walworth County,21646,20488,11552,6237,67530,Wisconsin
813,0500000US55131,Washington County,28782,32169,19842,7088,93246,Wisconsin
814,0500000US55133,Waukesha County,66153,82980,77571,40320,277755,Wisconsin
815,0500000US55139,Winnebago County,37731,36898,20876,8131,113119,Wisconsin
816,0500000US55141,Wood County,19820,17504,7509,4003,52129,Wisconsin
817,0500000US56021,Laramie County,16621,24909,10925,6749,64281,Wyoming
818,0500000US56025,Natrona County,15803,20202,7424,4436,53528,Wyoming
819,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72097,Mayagüez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72021,Bayamón Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0100000US,United States,59662981,62716503,41152388,25089165,216447163,None

In [13]:
countyDelete = data2015["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2015["County"]= countyDelete[0] 
data2015["Delete"]=countyDelete[1]

In [15]:
data2015

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US12119,Sumter,32508,30623,21538,13370,105817,Florida,County
1,0500000US12127,Volusia,129175,130281,59187,26893,382433,Florida,County
2,0500000US13013,Barrow,NaN,NaN,NaN,NaN,NaN,Georgia,County
3,0500000US13015,Bartow,NaN,NaN,NaN,NaN,NaN,Georgia,County
4,0500000US13021,Bibb,32057,28159,14947,10210,99505,Georgia,County
5,0500000US13031,Bulloch,9907,13494,5362,5789,39261,Georgia,County
6,0500000US13045,Carroll,24716,21027,9018,5504,71676,Georgia,County
7,0500000US13047,Catoosa,NaN,NaN,NaN,NaN,NaN,Georgia,County
8,0500000US13051,Chatham,46001,63480,38356,22454,189564,Georgia,County
9,0500000US13057,Cherokee,36705,45844,40354,20131,156090,Georgia,County
10,0500000US13059,Clarke,12402,14205,15418,14188,66094,Georgia,County
11,0500000US13063,Clayton,56506,54438,21174,11119,169140,Georgia,County
12,0500000US13067,Cobb,93576,128306,145021,77138,491820,Georgia,County
13,0500000US13073,Columbia,20781,31720,22076,11170,93923,Georgia,County
14,0500000US13077,Coweta,28793,27310,17385,9167,91374,Georgia,County
15,0500000US13089,DeKalb,100211,125810,121469,87622,495433,Georgia,County
16,0500000US13095,Dougherty,18604,16727,7457,4782,57988,Georgia,County
17,0500000US13097,Douglas,26040,25767,17894,10501,89945,Georgia,County
18,0500000US13113,Fayette,15738,19778,24477,10436,74720,Georgia,County
19,0500000US13115,Floyd,21060,17940,7065,4870,64448,Georgia,County
20,0500000US13117,Forsyth,21327,39034,43448,22554,136817,Georgia,County
21,0500000US13121,Fulton,126171,155332,199734,136161,673365,Georgia,County
22,0500000US13127,Glynn,16154,18489,10042,6766,58250,Georgia,County
23,0500000US13135,Gwinnett,134625,158465,131970,68235,565938,Georgia,County
24,0500000US13139,Hall,34511,36281,17870,10514,125214,Georgia,County
25,0500000US13151,Henry,41744,43259,25909,13188,137850,Georgia,County
26,0500000US13153,Houston,26679,40876,11787,8873,97723,Georgia,County
27,0500000US13179,Liberty,11744,13956,4392,1784,35448,Georgia,County
28,0500000US13185,Lowndes,18799,21218,9359,5637,66644,Georgia,County
29,0500000US13215,Muscogee,37927,42512,18707,12909,129080,Georgia,County
...,...,...,...,...,...,...,...,...,...
801,0500000US55063,La,20138,26742,14787,8705,74896,Wisconsin,Crosse County
802,0500000US55071,Manitowoc,22014,18909,8594,2114,57689,Wisconsin,County
803,0500000US55073,Marathon,34167,28865,16016,6399,94391,Wisconsin,County
804,0500000US55079,Milwaukee,168695,191437,121633,64393,628900,Wisconsin,County
805,0500000US55087,Outagamie,42782,37383,26118,10035,123210,Wisconsin,County
806,0500000US55089,Ozaukee,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
807,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
808,0500000US55101,Racine,39231,46555,21162,10498,131952,Wisconsin,County
809,0500000US55105,Rock,40192,34129,16055,7727,109280,Wisconsin,County
810,0500000US55109,St.,15340,22544,12783,5473,58408,Wisconsin,Croix County
811,0500000US55117,Sheboygan,30561,24186,12767,6096,80718,Wisconsin,County
812,0500000US55127,Walworth,21646,20488,11552,6237,67530,Wisconsin,County
813,0500000US55131,Washington,28782,32169,19842,7088,93246,Wisconsin,County
814,0500000US55133,Waukesha,66153,82980,77571,40320,277755,Wisconsin,County
815,0500000US55139,Winnebago,37731,36898,20876,8131,113119,Wisconsin,County
816,0500000US55141,Wood,19820,17504,7509,4003,52129,Wisconsin,County
817,0500000US56021,Laramie,16621,24909,10925,6749,64281,Wyoming,County
818,0500000US56025,Natrona,15803,20202,7424,4436,53528,Wyoming,County
819,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
820,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
821,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
822,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
823,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
824,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
825,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
826,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
827,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
828,0500000US72097,Mayagüez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
829,0500000US72021,Bayamón,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
830,0100000US,United,59662981,62716503,41152388,25089165,216447163,None,States

In [16]:
data2015.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12119,Sumter,32508,30623,21538,13370,105817,Florida
1,0500000US12127,Volusia,129175,130281,59187,26893,382433,Florida
2,0500000US13013,Barrow,NaN,NaN,NaN,NaN,NaN,Georgia
3,0500000US13015,Bartow,NaN,NaN,NaN,NaN,NaN,Georgia
4,0500000US13021,Bibb,32057,28159,14947,10210,99505,Georgia
5,0500000US13031,Bulloch,9907,13494,5362,5789,39261,Georgia
6,0500000US13045,Carroll,24716,21027,9018,5504,71676,Georgia
7,0500000US13047,Catoosa,NaN,NaN,NaN,NaN,NaN,Georgia
8,0500000US13051,Chatham,46001,63480,38356,22454,189564,Georgia
9,0500000US13057,Cherokee,36705,45844,40354,20131,156090,Georgia
10,0500000US13059,Clarke,12402,14205,15418,14188,66094,Georgia
11,0500000US13063,Clayton,56506,54438,21174,11119,169140,Georgia
12,0500000US13067,Cobb,93576,128306,145021,77138,491820,Georgia
13,0500000US13073,Columbia,20781,31720,22076,11170,93923,Georgia
14,0500000US13077,Coweta,28793,27310,17385,9167,91374,Georgia
15,0500000US13089,DeKalb,100211,125810,121469,87622,495433,Georgia
16,0500000US13095,Dougherty,18604,16727,7457,4782,57988,Georgia
17,0500000US13097,Douglas,26040,25767,17894,10501,89945,Georgia
18,0500000US13113,Fayette,15738,19778,24477,10436,74720,Georgia
19,0500000US13115,Floyd,21060,17940,7065,4870,64448,Georgia
20,0500000US13117,Forsyth,21327,39034,43448,22554,136817,Georgia
21,0500000US13121,Fulton,126171,155332,199734,136161,673365,Georgia
22,0500000US13127,Glynn,16154,18489,10042,6766,58250,Georgia
23,0500000US13135,Gwinnett,134625,158465,131970,68235,565938,Georgia
24,0500000US13139,Hall,34511,36281,17870,10514,125214,Georgia
25,0500000US13151,Henry,41744,43259,25909,13188,137850,Georgia
26,0500000US13153,Houston,26679,40876,11787,8873,97723,Georgia
27,0500000US13179,Liberty,11744,13956,4392,1784,35448,Georgia
28,0500000US13185,Lowndes,18799,21218,9359,5637,66644,Georgia
29,0500000US13215,Muscogee,37927,42512,18707,12909,129080,Georgia
...,...,...,...,...,...,...,...,...
801,0500000US55063,La,20138,26742,14787,8705,74896,Wisconsin
802,0500000US55071,Manitowoc,22014,18909,8594,2114,57689,Wisconsin
803,0500000US55073,Marathon,34167,28865,16016,6399,94391,Wisconsin
804,0500000US55079,Milwaukee,168695,191437,121633,64393,628900,Wisconsin
805,0500000US55087,Outagamie,42782,37383,26118,10035,123210,Wisconsin
806,0500000US55089,Ozaukee,NaN,NaN,NaN,NaN,NaN,Wisconsin
807,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin
808,0500000US55101,Racine,39231,46555,21162,10498,131952,Wisconsin
809,0500000US55105,Rock,40192,34129,16055,7727,109280,Wisconsin
810,0500000US55109,St.,15340,22544,12783,5473,58408,Wisconsin
811,0500000US55117,Sheboygan,30561,24186,12767,6096,80718,Wisconsin
812,0500000US55127,Walworth,21646,20488,11552,6237,67530,Wisconsin
813,0500000US55131,Washington,28782,32169,19842,7088,93246,Wisconsin
814,0500000US55133,Waukesha,66153,82980,77571,40320,277755,Wisconsin
815,0500000US55139,Winnebago,37731,36898,20876,8131,113119,Wisconsin
816,0500000US55141,Wood,19820,17504,7509,4003,52129,Wisconsin
817,0500000US56021,Laramie,16621,24909,10925,6749,64281,Wyoming
818,0500000US56025,Natrona,15803,20202,7424,4436,53528,Wyoming
819,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72097,Mayagüez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72021,Bayamón,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0100000US,United,59662981,62716503,41152388,25089165,216447163,None

In [17]:
splitFIPS = data2015["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  12119
1  0500000  12127
2  0500000  13013
3  0500000  13015
4  0500000  13021

In [19]:
data2015["Delete"]= splitFIPS[0] 
data2015["FIPS"]=splitFIPS[1]

In [20]:
data2015.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,12119,Sumter,32508,30623,21538,13370,105817,Florida
1,12127,Volusia,129175,130281,59187,26893,382433,Florida
2,13013,Barrow,NaN,NaN,NaN,NaN,NaN,Georgia
3,13015,Bartow,NaN,NaN,NaN,NaN,NaN,Georgia
4,13021,Bibb,32057,28159,14947,10210,99505,Georgia
5,13031,Bulloch,9907,13494,5362,5789,39261,Georgia
6,13045,Carroll,24716,21027,9018,5504,71676,Georgia
7,13047,Catoosa,NaN,NaN,NaN,NaN,NaN,Georgia
8,13051,Chatham,46001,63480,38356,22454,189564,Georgia
9,13057,Cherokee,36705,45844,40354,20131,156090,Georgia
10,13059,Clarke,12402,14205,15418,14188,66094,Georgia
11,13063,Clayton,56506,54438,21174,11119,169140,Georgia
12,13067,Cobb,93576,128306,145021,77138,491820,Georgia
13,13073,Columbia,20781,31720,22076,11170,93923,Georgia
14,13077,Coweta,28793,27310,17385,9167,91374,Georgia
15,13089,DeKalb,100211,125810,121469,87622,495433,Georgia
16,13095,Dougherty,18604,16727,7457,4782,57988,Georgia
17,13097,Douglas,26040,25767,17894,10501,89945,Georgia
18,13113,Fayette,15738,19778,24477,10436,74720,Georgia
19,13115,Floyd,21060,17940,7065,4870,64448,Georgia
20,13117,Forsyth,21327,39034,43448,22554,136817,Georgia
21,13121,Fulton,126171,155332,199734,136161,673365,Georgia
22,13127,Glynn,16154,18489,10042,6766,58250,Georgia
23,13135,Gwinnett,134625,158465,131970,68235,565938,Georgia
24,13139,Hall,34511,36281,17870,10514,125214,Georgia
25,13151,Henry,41744,43259,25909,13188,137850,Georgia
26,13153,Houston,26679,40876,11787,8873,97723,Georgia
27,13179,Liberty,11744,13956,4392,1784,35448,Georgia
28,13185,Lowndes,18799,21218,9359,5637,66644,Georgia
29,13215,Muscogee,37927,42512,18707,12909,129080,Georgia
...,...,...,...,...,...,...,...,...
801,55063,La,20138,26742,14787,8705,74896,Wisconsin
802,55071,Manitowoc,22014,18909,8594,2114,57689,Wisconsin
803,55073,Marathon,34167,28865,16016,6399,94391,Wisconsin
804,55079,Milwaukee,168695,191437,121633,64393,628900,Wisconsin
805,55087,Outagamie,42782,37383,26118,10035,123210,Wisconsin
806,55089,Ozaukee,NaN,NaN,NaN,NaN,NaN,Wisconsin
807,55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin
808,55101,Racine,39231,46555,21162,10498,131952,Wisconsin
809,55105,Rock,40192,34129,16055,7727,109280,Wisconsin
810,55109,St.,15340,22544,12783,5473,58408,Wisconsin
811,55117,Sheboygan,30561,24186,12767,6096,80718,Wisconsin
812,55127,Walworth,21646,20488,11552,6237,67530,Wisconsin
813,55131,Washington,28782,32169,19842,7088,93246,Wisconsin
814,55133,Waukesha,66153,82980,77571,40320,277755,Wisconsin
815,55139,Winnebago,37731,36898,20876,8131,113119,Wisconsin
816,55141,Wood,19820,17504,7509,4003,52129,Wisconsin
817,56021,Laramie,16621,24909,10925,6749,64281,Wyoming
818,56025,Natrona,15803,20202,7424,4436,53528,Wyoming
819,72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,72097,Mayagüez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,72021,Bayamón,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,,United,59662981,62716503,41152388,25089165,216447163,None