In [1]:
import pandas as pd
import numpy as np

In [2]:
data2010_to_load = "dataPoints/education_2010_clean.xlsx"
data2011_to_load = "dataPoints/education_2011_clean.xlsx"
data2012_to_load = "dataPoints/education_2012_merged.xlsx"
data2013_to_load = "dataPoints/education_2013_clean.xlsx"
data2014_to_load = "dataPoints/education_2014_clean.xlsx"
data2015_to_load = "dataPoints/education_2015_clean.xlsx"
data2016_to_load = "dataPoints/education_2016_merged.xlsx"
data2017_to_load = "dataPoints/education_2017_clean.xlsx"
data2018_to_load = "dataPoints/education_2018_merged.xlsx"

data2010 = pd.read_excel(data2010_to_load)
data2011 = pd.read_excel(data2011_to_load)
data2012 = pd.read_excel(data2012_to_load)
data2013 = pd.read_excel(data2013_to_load)
data2014 = pd.read_excel(data2014_to_load)
data2015 = pd.read_excel(data2015_to_load)
data2016 = pd.read_excel(data2016_to_load)
data2017 = pd.read_excel(data2017_to_load)
data2018 = pd.read_excel(data2018_to_load)

In [3]:
years = [data2010, data2011, data2012, data2013, data2014, data2015, data2016, data2017, data2018]

In [4]:
allData = pd.concat(years)

C:\Users\dfire\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [5]:
allData

,Bachelor's degree,County,FIPS,Graduate or professional degree,High school graduate (includes equivalency),Some college or associate's degree,State,Total,Year
0,34464.0,Stark,39151.0,18298.0,101691.0,76085.0,Ohio,257180.0,2010
1,72991.0,Summit,39153.0,36968.0,117485.0,101467.0,Ohio,368591.0,2010
2,17832.0,Trumbull,39155.0,8276.0,65031.0,38810.0,Ohio,146951.0,2010
3,NaN,Tuscarawas,39157.0,NaN,NaN,NaN,Ohio,NaN,2010
4,34109.0,Warren,39165.0,16373.0,39738.0,37463.0,Ohio,139899.0,2010
5,NaN,Wayne,39169.0,NaN,NaN,NaN,Ohio,NaN,2010
6,13361.0,Wood,39173.0,8689.0,23497.0,26217.0,Ohio,77700.0,2010
7,14481.0,Canadian,40017.0,5498.0,19998.0,29688.0,Oklahoma,76200.0,2010
8,31444.0,Cleveland,40027.0,19825.0,44294.0,53026.0,Oklahoma,162641.0,2010
9,8799.0,Comanche,40031.0,4975.0,27245.0,27047.0,Oklahoma,77273.0,2010
10,6044.0,Creek,40037.0,1698.0,18742.0,14274.0,Oklahoma,47181.0,2010
11,5417.0,Muskogee,40101.0,2949.0,15282.0,16356.0,Oklahoma,47111.0,2010
12,86792.0,Oklahoma,40109.0,44344.0,120367.0,145691.0,Oklahoma,463970.0,2010
13,9320.0,Payne,40119.0,5819.0,9796.0,14023.0,Oklahoma,43115.0,2010
14,NaN,Pottawatomie,40125.0,NaN,NaN,NaN,Oklahoma,NaN,2010
15,9351.0,Rogers,40131.0,3499.0,18489.0,19351.0,Oklahoma,56930.0,2010
16,74957.0,Tulsa,40143.0,36083.0,105102.0,129653.0,Oklahoma,392555.0,2010
17,NaN,Wagoner,40145.0,NaN,NaN,NaN,Oklahoma,NaN,2010
18,13112.0,Benton,41003.0,11077.0,8136.0,14939.0,Oregon,50386.0,2010
19,49846.0,Clackamas,41005.0,27417.0,63685.0,95710.0,Oregon,259973.0,2010
20,22891.0,Deschutes,41017.0,10387.0,24628.0,44384.0,Oregon,109851.0,2010
21,8131.0,Douglas,41019.0,4396.0,24835.0,29232.0,Oregon,77578.0,2010
22,21539.0,Jackson,41029.0,12248.0,40406.0,53222.0,Oregon,142279.0,2010
23,NaN,Josephine,41033.0,NaN,NaN,NaN,Oregon,NaN,2010
24,5322.0,Klamath,41035.0,2684.0,13905.0,16849.0,Oregon,45030.0,2010
25,39682.0,Lane,41039.0,26552.0,58653.0,89169.0,Oregon,237274.0,2010
26,11039.0,Linn,41043.0,3592.0,25021.0,31886.0,Oregon,79626.0,2010
27,26091.0,Marion,41047.0,17099.0,54749.0,70014.0,Oregon,202630.0,2010
28,122376.0,Multnomah,41051.0,73180.0,104545.0,156551.0,Oregon,514805.0,2010
29,NaN,Polk,41053.0,NaN,NaN,NaN,Oregon,NaN,2010
...,...,...,...,...,...,...,...,...,...
3190,2483.0,Jefferson,18077.0,1489.0,9370.0,6615.0,Indiana,22146.0,2018
3191,774.0,Newton,18111.0,341.0,4391.0,2987.0,Indiana,9935.0,2018
3192,529.0,Switzerland,18155.0,182.0,3495.0,1769.0,Indiana,7188.0,2018
3193,1697.0,Carroll,18015.0,704.0,5684.0,4353.0,Indiana,13949.0,2018
3194,3074.0,Huntington,18069.0,1653.0,10448.0,7474.0,Indiana,24902.0,2018
3195,1815.0,White,18181.0,990.0,6908.0,5084.0,Indiana,16694.0,2018
3196,962.0,Jay,18075.0,498.0,6504.0,3717.0,Indiana,13782.0,2018
3197,2164.0,Jefferson,19101.0,1866.0,3540.0,4263.0,Iowa,12768.0,2018
3198,1329.0,Allamakee,19005.0,463.0,3770.0,2930.0,Iowa,9688.0,2018
3199,1324.0,Butler,19023.0,499.0,3928.0,3893.0,Iowa,10404.0,2018
3200,658.0,Fremont,19071.0,302.0,1790.0,1862.0,Iowa,4987.0,2018
3201,459.0,Taylor,19173.0,183.0,1691.0,1559.0,Iowa,4314.0,2018
3202,593.0,Worth,19195.0,226.0,1962.0,2107.0,Iowa,5268.0,2018
3203,371.0,Adams,19003.0,107.0,1056.0,1006.0,Iowa,2700.0,2018
3204,1077.0,Chickasaw,19037.0,335.0,3627.0,2650.0,Iowa,8334.0,2018
3205,2876.0,Dickinson,19059.0,1096.0,3558.0,4609.0,Iowa,12674.0,2018
3206,1370.0,Tama,19171.0,505.0,4654.0,4045.0,Iowa,11627.0,2018
3207,951.0,Franklin,19069.0,313.0,2566.0,2629.0,Iowa,7131.0,2018
3208,2292.0,Carroll,19027.0,778.0,5013.0,4823.0,Iowa,13798.0,2018
3209,1690.0,Floyd,19067.0,480.0,3700.0,3842.0,Iowa,10879.0,2018
3210,756.0,Louisa,19115.0,340.0,2812.0,2402.0,Iowa,7703.0,2018
3211,1214.0,Lyon,19119.0,412.0,2776.0,2490.0,Iowa,7611.0,2018
3212,1280.0,Shelby,19165.0,439.0,2976.0,2895.0,Iowa,8255.0,2018
3213,2064.0,Henry,19087.0,680.0,5149.0,4815.0,Iowa,13675.0,2018
3214,1779.0,Page,19145.0,595.0,3854.0,3888.0,Iowa,11130.0,2018
3215,1670.0,Clayton,19043.0,496.0,5502.0,3848.0,Iowa,12629.0,2018
3216,1751.0,Buena,19021.0,755.0,3762.0,3658.0,Iowa,12766.0,2018
3217,1093.0,Guthrie,19077.0,393.0,2904.0,2594.0,Iowa,7523.0,2018
3218,1089.0,Humboldt,19091.0,304.0,2401.0,2368.0,Iowa,6682.0,2018
3219,2269.0,Washington,19183.0,945.0,5888.0,4537.0,Iowa,14975.0,2018

In [6]:
#allData = allData.dropna(inplace = True)
allData.dropna(inplace = True)

In [7]:
allData = allData[allData.County != 'United']

In [8]:
allData.dtypes

Bachelor's degree                              float64
County                                          object
FIPS                                           float64
Graduate or professional degree                float64
High school graduate (includes equivalency)    float64
Some college or associate's degree             float64
State                                           object
Total                                          float64
Year                                             int64
dtype: object

In [9]:
allData['FIPS'] = allData['FIPS'].astype(str)

In [10]:
allData['FIPS'] = allData['FIPS'].replace('\.0','', regex = True)
allData.head()

,Bachelor's degree,County,FIPS,Graduate or professional degree,High school graduate (includes equivalency),Some college or associate's degree,State,Total,Year
0,34464.0,Stark,39151,18298.0,101691.0,76085.0,Ohio,257180.0,2010
1,72991.0,Summit,39153,36968.0,117485.0,101467.0,Ohio,368591.0,2010
2,17832.0,Trumbull,39155,8276.0,65031.0,38810.0,Ohio,146951.0,2010
4,34109.0,Warren,39165,16373.0,39738.0,37463.0,Ohio,139899.0,2010
6,13361.0,Wood,39173,8689.0,23497.0,26217.0,Ohio,77700.0,2010

In [11]:
allData.insert(len(allData.columns), 'Add Zero FIPS', '0' + allData['FIPS'])
allData.loc[allData['FIPS'].str.len()==4, 'FIPS'] = allData.loc[allData['FIPS'].str.len()==4, 'Add Zero FIPS']
del allData['Add Zero FIPS']

In [12]:
allData

,Bachelor's degree,County,FIPS,Graduate or professional degree,High school graduate (includes equivalency),Some college or associate's degree,State,Total,Year
0,34464.0,Stark,39151,18298.0,101691.0,76085.0,Ohio,257180.0,2010
1,72991.0,Summit,39153,36968.0,117485.0,101467.0,Ohio,368591.0,2010
2,17832.0,Trumbull,39155,8276.0,65031.0,38810.0,Ohio,146951.0,2010
4,34109.0,Warren,39165,16373.0,39738.0,37463.0,Ohio,139899.0,2010
6,13361.0,Wood,39173,8689.0,23497.0,26217.0,Ohio,77700.0,2010
7,14481.0,Canadian,40017,5498.0,19998.0,29688.0,Oklahoma,76200.0,2010
8,31444.0,Cleveland,40027,19825.0,44294.0,53026.0,Oklahoma,162641.0,2010
9,8799.0,Comanche,40031,4975.0,27245.0,27047.0,Oklahoma,77273.0,2010
10,6044.0,Creek,40037,1698.0,18742.0,14274.0,Oklahoma,47181.0,2010
11,5417.0,Muskogee,40101,2949.0,15282.0,16356.0,Oklahoma,47111.0,2010
12,86792.0,Oklahoma,40109,44344.0,120367.0,145691.0,Oklahoma,463970.0,2010
13,9320.0,Payne,40119,5819.0,9796.0,14023.0,Oklahoma,43115.0,2010
15,9351.0,Rogers,40131,3499.0,18489.0,19351.0,Oklahoma,56930.0,2010
16,74957.0,Tulsa,40143,36083.0,105102.0,129653.0,Oklahoma,392555.0,2010
18,13112.0,Benton,41003,11077.0,8136.0,14939.0,Oregon,50386.0,2010
19,49846.0,Clackamas,41005,27417.0,63685.0,95710.0,Oregon,259973.0,2010
20,22891.0,Deschutes,41017,10387.0,24628.0,44384.0,Oregon,109851.0,2010
21,8131.0,Douglas,41019,4396.0,24835.0,29232.0,Oregon,77578.0,2010
22,21539.0,Jackson,41029,12248.0,40406.0,53222.0,Oregon,142279.0,2010
24,5322.0,Klamath,41035,2684.0,13905.0,16849.0,Oregon,45030.0,2010
25,39682.0,Lane,41039,26552.0,58653.0,89169.0,Oregon,237274.0,2010
26,11039.0,Linn,41043,3592.0,25021.0,31886.0,Oregon,79626.0,2010
27,26091.0,Marion,41047,17099.0,54749.0,70014.0,Oregon,202630.0,2010
28,122376.0,Multnomah,41051,73180.0,104545.0,156551.0,Oregon,514805.0,2010
30,3485.0,Umatilla,41059,2960.0,14008.0,19830.0,Oregon,49075.0,2010
31,90427.0,Washington,41067,46917.0,64810.0,116971.0,Oregon,352073.0,2010
32,8650.0,Yamhill,41071,4540.0,20945.0,21922.0,Oregon,64758.0,2010
33,7567.0,Adams,42001,5267.0,29847.0,17360.0,Pennsylvania,68980.0,2010
34,181768.0,Allegheny,42003,120088.0,275517.0,217385.0,Pennsylvania,858156.0,2010
35,5054.0,Armstrong,42005,1765.0,25966.0,11890.0,Pennsylvania,49902.0,2010
...,...,...,...,...,...,...,...,...,...
3190,2483.0,Jefferson,18077,1489.0,9370.0,6615.0,Indiana,22146.0,2018
3191,774.0,Newton,18111,341.0,4391.0,2987.0,Indiana,9935.0,2018
3192,529.0,Switzerland,18155,182.0,3495.0,1769.0,Indiana,7188.0,2018
3193,1697.0,Carroll,18015,704.0,5684.0,4353.0,Indiana,13949.0,2018
3194,3074.0,Huntington,18069,1653.0,10448.0,7474.0,Indiana,24902.0,2018
3195,1815.0,White,18181,990.0,6908.0,5084.0,Indiana,16694.0,2018
3196,962.0,Jay,18075,498.0,6504.0,3717.0,Indiana,13782.0,2018
3197,2164.0,Jefferson,19101,1866.0,3540.0,4263.0,Iowa,12768.0,2018
3198,1329.0,Allamakee,19005,463.0,3770.0,2930.0,Iowa,9688.0,2018
3199,1324.0,Butler,19023,499.0,3928.0,3893.0,Iowa,10404.0,2018
3200,658.0,Fremont,19071,302.0,1790.0,1862.0,Iowa,4987.0,2018
3201,459.0,Taylor,19173,183.0,1691.0,1559.0,Iowa,4314.0,2018
3202,593.0,Worth,19195,226.0,1962.0,2107.0,Iowa,5268.0,2018
3203,371.0,Adams,19003,107.0,1056.0,1006.0,Iowa,2700.0,2018
3204,1077.0,Chickasaw,19037,335.0,3627.0,2650.0,Iowa,8334.0,2018
3205,2876.0,Dickinson,19059,1096.0,3558.0,4609.0,Iowa,12674.0,2018
3206,1370.0,Tama,19171,505.0,4654.0,4045.0,Iowa,11627.0,2018
3207,951.0,Franklin,19069,313.0,2566.0,2629.0,Iowa,7131.0,2018
3208,2292.0,Carroll,19027,778.0,5013.0,4823.0,Iowa,13798.0,2018
3209,1690.0,Floyd,19067,480.0,3700.0,3842.0,Iowa,10879.0,2018
3210,756.0,Louisa,19115,340.0,2812.0,2402.0,Iowa,7703.0,2018
3211,1214.0,Lyon,19119,412.0,2776.0,2490.0,Iowa,7611.0,2018
3212,1280.0,Shelby,19165,439.0,2976.0,2895.0,Iowa,8255.0,2018
3213,2064.0,Henry,19087,680.0,5149.0,4815.0,Iowa,13675.0,2018
3214,1779.0,Page,19145,595.0,3854.0,3888.0,Iowa,11130.0,2018
3215,1670.0,Clayton,19043,496.0,5502.0,3848.0,Iowa,12629.0,2018
3216,1751.0,Buena,19021,755.0,3762.0,3658.0,Iowa,12766.0,2018
3217,1093.0,Guthrie,19077,393.0,2904.0,2594.0,Iowa,7523.0,2018
3218,1089.0,Humboldt,19091,304.0,2401.0,2368.0,Iowa,6682.0,2018
3219,2269.0,Washington,19183,945.0,5888.0,4537.0,Iowa,14975.0,2018

In [13]:
path = '../dataFiles/processedData/education_processed.xlsx'
allData.to_excel(path,index=False)