In [1]:
import pandas as pd
import numpy as np

In [2]:
data2012_to_load = "../Education/ACSDT1Y2012.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2012_to_load = "../Education/ACSDT1Y2012.B07009_metadata_2019-12-21T130141.csv"

fulldata2012 = pd.read_csv(data2012_to_load)
metadata2012 = pd.read_csv(metadata2012_to_load)

In [3]:
fulldata2012.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US27013,"Blue Earth County, Minnesota",38076,349,1910,533,10872,1155,12539,1022,...,0,139,7,11,0,139,7,13,0,139
2,0500000US27019,"Carver County, Minnesota",59992,598,3283,958,12971,1564,17609,1972,...,53,90,0,139,209,169,41,52,0,139
3,0500000US27037,"Dakota County, Minnesota",271925,804,14490,2119,58194,2885,93310,3939,...,92,153,135,167,158,135,676,477,50,96
4,0500000US27053,"Hennepin County, Minnesota",807164,355,59364,3523,147072,5391,222575,5402,...,630,349,466,229,1393,587,2319,779,1580,711

In [4]:
data2012 = fulldata2012[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2012 = data2012.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2012.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US27013,"Blue Earth County, Minnesota",10872,12539,8641,4114,38076
2,0500000US27019,"Carver County, Minnesota",12971,17609,18650,7479,59992
3,0500000US27037,"Dakota County, Minnesota",58194,93310,75188,30743,271925
4,0500000US27053,"Hennepin County, Minnesota",147072,222575,245622,132531,807164

In [6]:
data2012=data2012.drop(index =0)

In [7]:
data2012=data2012.reset_index(drop=True)

In [8]:
data2012.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US27013,"Blue Earth County, Minnesota",10872,12539,8641,4114,38076
1,0500000US27019,"Carver County, Minnesota",12971,17609,18650,7479,59992
2,0500000US27037,"Dakota County, Minnesota",58194,93310,75188,30743,271925
3,0500000US27053,"Hennepin County, Minnesota",147072,222575,245622,132531,807164
4,0500000US27109,"Olmsted County, Minnesota",20925,32675,24558,14690,98846

In [9]:
countySplit = data2012["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                   0          1
0  Blue Earth County  Minnesota
1      Carver County  Minnesota
2      Dakota County  Minnesota
3    Hennepin County  Minnesota
4     Olmsted County  Minnesota

In [11]:
data2012["County"]= countySplit[0] 
data2012["State"]=countySplit[1]

In [12]:
data2012

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US27013,Blue Earth County,10872,12539,8641,4114,38076,Minnesota
1,0500000US27019,Carver County,12971,17609,18650,7479,59992,Minnesota
2,0500000US27037,Dakota County,58194,93310,75188,30743,271925,Minnesota
3,0500000US27053,Hennepin County,147072,222575,245622,132531,807164,Minnesota
4,0500000US27109,Olmsted County,20925,32675,24558,14690,98846,Minnesota
5,0500000US27123,Ramsey County,77198,96530,80611,53376,339301,Minnesota
6,0500000US27137,St. Louis County,40987,50093,24920,11809,135979,Minnesota
7,0500000US27139,Scott County,19420,27845,26406,8652,86914,Minnesota
8,0500000US27141,Sherburne County,NaN,NaN,NaN,NaN,NaN,Minnesota
9,0500000US27145,Stearns County,28745,33622,15921,8176,94570,Minnesota
10,0500000US27163,Washington County,34418,53476,45386,23666,163400,Minnesota
11,0500000US27171,Wright County,25005,30288,17023,4345,81420,Minnesota
12,0500000US28033,DeSoto County,31373,40890,15546,7663,106647,Mississippi
13,0500000US28035,Forrest County,NaN,NaN,NaN,NaN,NaN,Mississippi
14,0500000US28047,Harrison County,38146,46122,15578,10699,126002,Mississippi
15,0500000US28049,Hinds County,37705,54310,23347,17058,154179,Mississippi
16,0500000US28059,Jackson County,NaN,NaN,NaN,NaN,NaN,Mississippi
17,0500000US28067,Jones County,NaN,NaN,NaN,NaN,NaN,Mississippi
18,0500000US28075,Lauderdale County,15748,19277,6596,3206,52142,Mississippi
19,0500000US28081,Lee County,15986,17232,7693,4594,54929,Mississippi
20,0500000US28089,Madison County,10472,15781,17651,13009,63190,Mississippi
21,0500000US28121,Rankin County,30474,26888,19406,11385,98074,Mississippi
22,0500000US29019,Boone County,18636,25642,27003,20679,96974,Missouri
23,0500000US29021,Buchanan County,19720,16461,9117,3488,58522,Missouri
24,0500000US29031,Cape Girardeau County,16802,13496,9603,4655,49518,Missouri
25,0500000US29037,Cass County,25026,20520,10100,5843,66845,Missouri
26,0500000US29043,Christian County,16268,17679,9702,3442,52304,Missouri
27,0500000US29047,Clay County,42661,48402,32191,15901,151879,Missouri
28,0500000US29051,Cole County,NaN,NaN,NaN,NaN,NaN,Missouri
29,0500000US29071,Franklin County,NaN,NaN,NaN,NaN,NaN,Missouri
...,...,...,...,...,...,...,...,...
796,0500000US55063,La Crosse County,22041,26524,13646,8081,73565,Wisconsin
797,0500000US55071,Manitowoc County,23809,16619,7977,3239,56773,Wisconsin
798,0500000US55073,Marathon County,34232,27535,13240,7513,92016,Wisconsin
799,0500000US55079,Milwaukee County,175012,180166,111865,62295,613434,Wisconsin
800,0500000US55087,Outagamie County,40540,37981,23032,9684,119845,Wisconsin
801,0500000US55089,Ozaukee County,14077,15367,18449,9564,60182,Wisconsin
802,0500000US55097,Portage County,16729,12668,8266,3348,44330,Wisconsin
803,0500000US55101,Racine County,39921,45211,20016,10701,131278,Wisconsin
804,0500000US55105,Rock County,35816,35737,14352,6826,107345,Wisconsin
805,0500000US55109,St. Croix County,15810,18413,12852,6158,56366,Wisconsin
806,0500000US55117,Sheboygan County,28582,23256,13236,5966,79730,Wisconsin
807,0500000US55127,Walworth County,21007,22198,11280,6321,67375,Wisconsin
808,0500000US55131,Washington County,28353,30207,18501,8081,91984,Wisconsin
809,0500000US55133,Waukesha County,68098,85446,71995,36503,273332,Wisconsin
810,0500000US55139,Winnebago County,38552,36300,21513,10023,114092,Wisconsin
811,0500000US55141,Wood County,NaN,NaN,NaN,NaN,NaN,Wisconsin
812,0500000US56021,Laramie County,19176,23459,9718,5050,62201,Wyoming
813,0500000US56025,Natrona County,13704,21755,7811,4402,52364,Wyoming
814,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72021,Bayamón Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72097,Mayagüez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0100000US,United States,58495661,61011047,37969084,22773438,208731498,None

In [13]:
countyDelete = data2012["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2012["County"]= countyDelete[0] 
data2012["Delete"]=countyDelete[1]

In [15]:
data2012

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US27013,Blue,10872,12539,8641,4114,38076,Minnesota,Earth County
1,0500000US27019,Carver,12971,17609,18650,7479,59992,Minnesota,County
2,0500000US27037,Dakota,58194,93310,75188,30743,271925,Minnesota,County
3,0500000US27053,Hennepin,147072,222575,245622,132531,807164,Minnesota,County
4,0500000US27109,Olmsted,20925,32675,24558,14690,98846,Minnesota,County
5,0500000US27123,Ramsey,77198,96530,80611,53376,339301,Minnesota,County
6,0500000US27137,St.,40987,50093,24920,11809,135979,Minnesota,Louis County
7,0500000US27139,Scott,19420,27845,26406,8652,86914,Minnesota,County
8,0500000US27141,Sherburne,NaN,NaN,NaN,NaN,NaN,Minnesota,County
9,0500000US27145,Stearns,28745,33622,15921,8176,94570,Minnesota,County
10,0500000US27163,Washington,34418,53476,45386,23666,163400,Minnesota,County
11,0500000US27171,Wright,25005,30288,17023,4345,81420,Minnesota,County
12,0500000US28033,DeSoto,31373,40890,15546,7663,106647,Mississippi,County
13,0500000US28035,Forrest,NaN,NaN,NaN,NaN,NaN,Mississippi,County
14,0500000US28047,Harrison,38146,46122,15578,10699,126002,Mississippi,County
15,0500000US28049,Hinds,37705,54310,23347,17058,154179,Mississippi,County
16,0500000US28059,Jackson,NaN,NaN,NaN,NaN,NaN,Mississippi,County
17,0500000US28067,Jones,NaN,NaN,NaN,NaN,NaN,Mississippi,County
18,0500000US28075,Lauderdale,15748,19277,6596,3206,52142,Mississippi,County
19,0500000US28081,Lee,15986,17232,7693,4594,54929,Mississippi,County
20,0500000US28089,Madison,10472,15781,17651,13009,63190,Mississippi,County
21,0500000US28121,Rankin,30474,26888,19406,11385,98074,Mississippi,County
22,0500000US29019,Boone,18636,25642,27003,20679,96974,Missouri,County
23,0500000US29021,Buchanan,19720,16461,9117,3488,58522,Missouri,County
24,0500000US29031,Cape,16802,13496,9603,4655,49518,Missouri,Girardeau County
25,0500000US29037,Cass,25026,20520,10100,5843,66845,Missouri,County
26,0500000US29043,Christian,16268,17679,9702,3442,52304,Missouri,County
27,0500000US29047,Clay,42661,48402,32191,15901,151879,Missouri,County
28,0500000US29051,Cole,NaN,NaN,NaN,NaN,NaN,Missouri,County
29,0500000US29071,Franklin,NaN,NaN,NaN,NaN,NaN,Missouri,County
...,...,...,...,...,...,...,...,...,...
796,0500000US55063,La,22041,26524,13646,8081,73565,Wisconsin,Crosse County
797,0500000US55071,Manitowoc,23809,16619,7977,3239,56773,Wisconsin,County
798,0500000US55073,Marathon,34232,27535,13240,7513,92016,Wisconsin,County
799,0500000US55079,Milwaukee,175012,180166,111865,62295,613434,Wisconsin,County
800,0500000US55087,Outagamie,40540,37981,23032,9684,119845,Wisconsin,County
801,0500000US55089,Ozaukee,14077,15367,18449,9564,60182,Wisconsin,County
802,0500000US55097,Portage,16729,12668,8266,3348,44330,Wisconsin,County
803,0500000US55101,Racine,39921,45211,20016,10701,131278,Wisconsin,County
804,0500000US55105,Rock,35816,35737,14352,6826,107345,Wisconsin,County
805,0500000US55109,St.,15810,18413,12852,6158,56366,Wisconsin,Croix County
806,0500000US55117,Sheboygan,28582,23256,13236,5966,79730,Wisconsin,County
807,0500000US55127,Walworth,21007,22198,11280,6321,67375,Wisconsin,County
808,0500000US55131,Washington,28353,30207,18501,8081,91984,Wisconsin,County
809,0500000US55133,Waukesha,68098,85446,71995,36503,273332,Wisconsin,County
810,0500000US55139,Winnebago,38552,36300,21513,10023,114092,Wisconsin,County
811,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
812,0500000US56021,Laramie,19176,23459,9718,5050,62201,Wyoming,County
813,0500000US56025,Natrona,13704,21755,7811,4402,52364,Wyoming,County
814,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
815,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
816,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
817,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
818,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
819,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
820,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
821,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
822,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
823,0500000US72021,Bayamón,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
824,0500000US72097,Mayagüez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
825,0100000US,United,58495661,61011047,37969084,22773438,208731498,None,States

In [16]:
data2012.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US27013,Blue,10872,12539,8641,4114,38076,Minnesota
1,0500000US27019,Carver,12971,17609,18650,7479,59992,Minnesota
2,0500000US27037,Dakota,58194,93310,75188,30743,271925,Minnesota
3,0500000US27053,Hennepin,147072,222575,245622,132531,807164,Minnesota
4,0500000US27109,Olmsted,20925,32675,24558,14690,98846,Minnesota
5,0500000US27123,Ramsey,77198,96530,80611,53376,339301,Minnesota
6,0500000US27137,St.,40987,50093,24920,11809,135979,Minnesota
7,0500000US27139,Scott,19420,27845,26406,8652,86914,Minnesota
8,0500000US27141,Sherburne,NaN,NaN,NaN,NaN,NaN,Minnesota
9,0500000US27145,Stearns,28745,33622,15921,8176,94570,Minnesota
10,0500000US27163,Washington,34418,53476,45386,23666,163400,Minnesota
11,0500000US27171,Wright,25005,30288,17023,4345,81420,Minnesota
12,0500000US28033,DeSoto,31373,40890,15546,7663,106647,Mississippi
13,0500000US28035,Forrest,NaN,NaN,NaN,NaN,NaN,Mississippi
14,0500000US28047,Harrison,38146,46122,15578,10699,126002,Mississippi
15,0500000US28049,Hinds,37705,54310,23347,17058,154179,Mississippi
16,0500000US28059,Jackson,NaN,NaN,NaN,NaN,NaN,Mississippi
17,0500000US28067,Jones,NaN,NaN,NaN,NaN,NaN,Mississippi
18,0500000US28075,Lauderdale,15748,19277,6596,3206,52142,Mississippi
19,0500000US28081,Lee,15986,17232,7693,4594,54929,Mississippi
20,0500000US28089,Madison,10472,15781,17651,13009,63190,Mississippi
21,0500000US28121,Rankin,30474,26888,19406,11385,98074,Mississippi
22,0500000US29019,Boone,18636,25642,27003,20679,96974,Missouri
23,0500000US29021,Buchanan,19720,16461,9117,3488,58522,Missouri
24,0500000US29031,Cape,16802,13496,9603,4655,49518,Missouri
25,0500000US29037,Cass,25026,20520,10100,5843,66845,Missouri
26,0500000US29043,Christian,16268,17679,9702,3442,52304,Missouri
27,0500000US29047,Clay,42661,48402,32191,15901,151879,Missouri
28,0500000US29051,Cole,NaN,NaN,NaN,NaN,NaN,Missouri
29,0500000US29071,Franklin,NaN,NaN,NaN,NaN,NaN,Missouri
...,...,...,...,...,...,...,...,...
796,0500000US55063,La,22041,26524,13646,8081,73565,Wisconsin
797,0500000US55071,Manitowoc,23809,16619,7977,3239,56773,Wisconsin
798,0500000US55073,Marathon,34232,27535,13240,7513,92016,Wisconsin
799,0500000US55079,Milwaukee,175012,180166,111865,62295,613434,Wisconsin
800,0500000US55087,Outagamie,40540,37981,23032,9684,119845,Wisconsin
801,0500000US55089,Ozaukee,14077,15367,18449,9564,60182,Wisconsin
802,0500000US55097,Portage,16729,12668,8266,3348,44330,Wisconsin
803,0500000US55101,Racine,39921,45211,20016,10701,131278,Wisconsin
804,0500000US55105,Rock,35816,35737,14352,6826,107345,Wisconsin
805,0500000US55109,St.,15810,18413,12852,6158,56366,Wisconsin
806,0500000US55117,Sheboygan,28582,23256,13236,5966,79730,Wisconsin
807,0500000US55127,Walworth,21007,22198,11280,6321,67375,Wisconsin
808,0500000US55131,Washington,28353,30207,18501,8081,91984,Wisconsin
809,0500000US55133,Waukesha,68098,85446,71995,36503,273332,Wisconsin
810,0500000US55139,Winnebago,38552,36300,21513,10023,114092,Wisconsin
811,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin
812,0500000US56021,Laramie,19176,23459,9718,5050,62201,Wyoming
813,0500000US56025,Natrona,13704,21755,7811,4402,52364,Wyoming
814,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72021,Bayamón,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72097,Mayagüez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0100000US,United,58495661,61011047,37969084,22773438,208731498,None

In [17]:
splitFIPS = data2012["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  27013
1  0500000  27019
2  0500000  27037
3  0500000  27053
4  0500000  27109

In [19]:
data2012["Delete"]= splitFIPS[0] 
data2012["FIPS"]=splitFIPS[1]

In [20]:
data2012.drop(columns=['Delete'], inplace = True)

In [21]:
data2012.insert(len(data2012.columns), 'Year', 2012)

In [22]:
data2012.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,27013,Blue,10872,12539,8641,4114,38076,Minnesota,2012
1,27019,Carver,12971,17609,18650,7479,59992,Minnesota,2012
2,27037,Dakota,58194,93310,75188,30743,271925,Minnesota,2012
3,27053,Hennepin,147072,222575,245622,132531,807164,Minnesota,2012
4,27109,Olmsted,20925,32675,24558,14690,98846,Minnesota,2012

In [23]:
path = '../dataPoints/education_2012_clean.xlsx'
data2012.to_excel(path,index=False)