In [1]:
import pandas as pd
import numpy as np

In [2]:
data2014_to_load = "../Education/ACSDT1Y2014.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2014_to_load = "../Education/ACSDT1Y2014.B07009_metadata_2019-12-21T130141.csv"

fulldata2014 = pd.read_csv(data2014_to_load)
metadata2014 = pd.read_csv(metadata2014_to_load)

In [3]:
fulldata2014.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US23019,"Penobscot County, Maine",107218,421,10865,1426,34964,2426,34501,2025,...,18,30,37,47,50,98,53,94,38,64
2,0500000US23031,"York County, Maine",145374,521,11603,1527,47633,3168,44810,2799,...,60,123,72,117,152,257,0,159,39,66
3,0500000US24001,"Allegany County, Maryland",50990,570,5937,905,22070,1530,14024,1252,...,0,193,0,193,54,67,0,193,0,193
4,0500000US24003,"Anne Arundel County, Maryland",382220,1319,30980,3513,95685,4610,107250,4769,...,216,211,358,308,381,319,463,361,727,455

In [4]:
data2014 = fulldata2014[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2014 = data2014.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2014.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US23019,"Penobscot County, Maine",34964,34501,17928,8960,107218
2,0500000US23031,"York County, Maine",47633,44810,28380,12948,145374
3,0500000US24001,"Allegany County, Maryland",22070,14024,4206,4753,50990
4,0500000US24003,"Anne Arundel County, Maryland",95685,107250,91435,56870,382220

In [6]:
data2014=data2014.drop(index =0)

In [7]:
data2014=data2014.reset_index(drop=True)

In [8]:
data2014.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US23019,"Penobscot County, Maine",34964,34501,17928,8960,107218
1,0500000US23031,"York County, Maine",47633,44810,28380,12948,145374
2,0500000US24001,"Allegany County, Maryland",22070,14024,4206,4753,50990
3,0500000US24003,"Anne Arundel County, Maryland",95685,107250,91435,56870,382220
4,0500000US24005,"Baltimore County, Maryland",158116,145219,122997,88996,570350

In [9]:
countySplit = data2014["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                     0         1
0     Penobscot County     Maine
1          York County     Maine
2      Allegany County  Maryland
3  Anne Arundel County  Maryland
4     Baltimore County  Maryland

In [11]:
data2014["County"]= countySplit[0] 
data2014["State"]=countySplit[1]

In [12]:
data2014

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US23019,Penobscot County,34964,34501,17928,8960,107218,Maine
1,0500000US23031,York County,47633,44810,28380,12948,145374,Maine
2,0500000US24001,Allegany County,22070,14024,4206,4753,50990,Maryland
3,0500000US24003,Anne Arundel County,95685,107250,91435,56870,382220,Maryland
4,0500000US24005,Baltimore County,158116,145219,122997,88996,570350,Maryland
5,0500000US24009,Calvert County,18796,20306,10010,7451,61369,Maryland
6,0500000US24013,Carroll County,36152,32111,24211,13292,114866,Maryland
7,0500000US24015,Cecil County,29428,18064,8299,5543,69662,Maryland
8,0500000US24017,Charles County,32200,34502,17529,10694,101662,Maryland
9,0500000US24021,Frederick County,39214,47415,38896,26930,164841,Maryland
10,0500000US24025,Harford County,46809,55179,35032,22769,170935,Maryland
11,0500000US24027,Howard County,30713,43150,61065,63341,207600,Maryland
12,0500000US24031,Montgomery County,92814,136377,189721,223706,707146,Maryland
13,0500000US24033,Prince George's County,157527,170961,109258,77528,602567,Maryland
14,0500000US24037,St. Mary's County,23140,22683,10852,10166,72686,Maryland
15,0500000US24043,Washington County,39001,29955,12490,8422,103483,Maryland
16,0500000US24045,Wicomico County,20612,18134,9867,8376,62981,Maryland
17,0500000US24510,Baltimore city,133996,95956,65113,61972,423249,Maryland
18,0500000US25001,Barnstable County,37929,47972,41287,31904,165103,Massachusetts
19,0500000US25003,Berkshire County,29018,26395,16002,12845,92753,Massachusetts
20,0500000US25005,Bristol County,118699,99038,63624,35103,383521,Massachusetts
21,0500000US25009,Essex County,131555,133220,122465,82866,527425,Massachusetts
22,0500000US25011,Franklin County,14095,15076,9298,9527,52477,Massachusetts
23,0500000US25013,Hampden County,88044,88620,48683,37149,311505,Massachusetts
24,0500000US25015,Hampshire County,23731,25698,21073,20860,98718,Massachusetts
25,0500000US25017,Middlesex County,227660,209562,291388,281672,1094885,Massachusetts
26,0500000US25021,Norfolk County,98454,104710,138784,110975,481301,Massachusetts
27,0500000US25023,Plymouth County,100413,102947,74655,44356,349464,Massachusetts
28,0500000US25025,Suffolk County,120189,97356,122477,98735,523125,Massachusetts
29,0500000US25027,Worcester County,166035,141502,123027,68447,554043,Massachusetts
...,...,...,...,...,...,...,...,...
799,0500000US55063,La Crosse County,20374,26394,14630,8645,74721,Wisconsin
800,0500000US55071,Manitowoc County,22965,17351,7851,3319,57253,Wisconsin
801,0500000US55073,Marathon County,33472,29049,16954,6590,93596,Wisconsin
802,0500000US55079,Milwaukee County,177816,181042,119177,65100,624720,Wisconsin
803,0500000US55087,Outagamie County,41921,37032,25189,8345,121944,Wisconsin
804,0500000US55089,Ozaukee County,12489,17834,18522,9410,60793,Wisconsin
805,0500000US55097,Portage County,NaN,NaN,NaN,NaN,NaN,Wisconsin
806,0500000US55101,Racine County,39073,43981,21857,9829,132122,Wisconsin
807,0500000US55105,Rock County,41553,32887,14823,8393,108609,Wisconsin
808,0500000US55109,St. Croix County,16849,20624,13472,4866,57924,Wisconsin
809,0500000US55117,Sheboygan County,30755,26107,12610,4900,80530,Wisconsin
810,0500000US55127,Walworth County,22731,19785,12113,7250,67745,Wisconsin
811,0500000US55131,Washington County,NaN,NaN,NaN,NaN,NaN,Wisconsin
812,0500000US55133,Waukesha County,65523,81403,76017,41007,275937,Wisconsin
813,0500000US55139,Winnebago County,37894,37660,20599,9260,113484,Wisconsin
814,0500000US55141,Wood County,19739,17940,7092,3571,52141,Wisconsin
815,0500000US56021,Laramie County,16116,24273,13451,6530,65009,Wyoming
816,0500000US56025,Natrona County,14515,25103,7228,4260,54784,Wyoming
817,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72021,Bayamón Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72097,Mayagüez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0100000US,United States,59249552,62229012,39864014,24391012,213725624,None

In [13]:
countyDelete = data2014["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2014["County"]= countyDelete[0] 
data2014["Delete"]=countyDelete[1]

In [15]:
data2014

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US23019,Penobscot,34964,34501,17928,8960,107218,Maine,County
1,0500000US23031,York,47633,44810,28380,12948,145374,Maine,County
2,0500000US24001,Allegany,22070,14024,4206,4753,50990,Maryland,County
3,0500000US24003,Anne,95685,107250,91435,56870,382220,Maryland,Arundel County
4,0500000US24005,Baltimore,158116,145219,122997,88996,570350,Maryland,County
5,0500000US24009,Calvert,18796,20306,10010,7451,61369,Maryland,County
6,0500000US24013,Carroll,36152,32111,24211,13292,114866,Maryland,County
7,0500000US24015,Cecil,29428,18064,8299,5543,69662,Maryland,County
8,0500000US24017,Charles,32200,34502,17529,10694,101662,Maryland,County
9,0500000US24021,Frederick,39214,47415,38896,26930,164841,Maryland,County
10,0500000US24025,Harford,46809,55179,35032,22769,170935,Maryland,County
11,0500000US24027,Howard,30713,43150,61065,63341,207600,Maryland,County
12,0500000US24031,Montgomery,92814,136377,189721,223706,707146,Maryland,County
13,0500000US24033,Prince,157527,170961,109258,77528,602567,Maryland,George's County
14,0500000US24037,St.,23140,22683,10852,10166,72686,Maryland,Mary's County
15,0500000US24043,Washington,39001,29955,12490,8422,103483,Maryland,County
16,0500000US24045,Wicomico,20612,18134,9867,8376,62981,Maryland,County
17,0500000US24510,Baltimore,133996,95956,65113,61972,423249,Maryland,city
18,0500000US25001,Barnstable,37929,47972,41287,31904,165103,Massachusetts,County
19,0500000US25003,Berkshire,29018,26395,16002,12845,92753,Massachusetts,County
20,0500000US25005,Bristol,118699,99038,63624,35103,383521,Massachusetts,County
21,0500000US25009,Essex,131555,133220,122465,82866,527425,Massachusetts,County
22,0500000US25011,Franklin,14095,15076,9298,9527,52477,Massachusetts,County
23,0500000US25013,Hampden,88044,88620,48683,37149,311505,Massachusetts,County
24,0500000US25015,Hampshire,23731,25698,21073,20860,98718,Massachusetts,County
25,0500000US25017,Middlesex,227660,209562,291388,281672,1094885,Massachusetts,County
26,0500000US25021,Norfolk,98454,104710,138784,110975,481301,Massachusetts,County
27,0500000US25023,Plymouth,100413,102947,74655,44356,349464,Massachusetts,County
28,0500000US25025,Suffolk,120189,97356,122477,98735,523125,Massachusetts,County
29,0500000US25027,Worcester,166035,141502,123027,68447,554043,Massachusetts,County
...,...,...,...,...,...,...,...,...,...
799,0500000US55063,La,20374,26394,14630,8645,74721,Wisconsin,Crosse County
800,0500000US55071,Manitowoc,22965,17351,7851,3319,57253,Wisconsin,County
801,0500000US55073,Marathon,33472,29049,16954,6590,93596,Wisconsin,County
802,0500000US55079,Milwaukee,177816,181042,119177,65100,624720,Wisconsin,County
803,0500000US55087,Outagamie,41921,37032,25189,8345,121944,Wisconsin,County
804,0500000US55089,Ozaukee,12489,17834,18522,9410,60793,Wisconsin,County
805,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
806,0500000US55101,Racine,39073,43981,21857,9829,132122,Wisconsin,County
807,0500000US55105,Rock,41553,32887,14823,8393,108609,Wisconsin,County
808,0500000US55109,St.,16849,20624,13472,4866,57924,Wisconsin,Croix County
809,0500000US55117,Sheboygan,30755,26107,12610,4900,80530,Wisconsin,County
810,0500000US55127,Walworth,22731,19785,12113,7250,67745,Wisconsin,County
811,0500000US55131,Washington,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
812,0500000US55133,Waukesha,65523,81403,76017,41007,275937,Wisconsin,County
813,0500000US55139,Winnebago,37894,37660,20599,9260,113484,Wisconsin,County
814,0500000US55141,Wood,19739,17940,7092,3571,52141,Wisconsin,County
815,0500000US56021,Laramie,16116,24273,13451,6530,65009,Wyoming,County
816,0500000US56025,Natrona,14515,25103,7228,4260,54784,Wyoming,County
817,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
818,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
819,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
820,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
821,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
822,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
823,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
824,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
825,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
826,0500000US72021,Bayamón,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
827,0500000US72097,Mayagüez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
828,0100000US,United,59249552,62229012,39864014,24391012,213725624,None,States

In [16]:
data2014.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US23019,Penobscot,34964,34501,17928,8960,107218,Maine
1,0500000US23031,York,47633,44810,28380,12948,145374,Maine
2,0500000US24001,Allegany,22070,14024,4206,4753,50990,Maryland
3,0500000US24003,Anne,95685,107250,91435,56870,382220,Maryland
4,0500000US24005,Baltimore,158116,145219,122997,88996,570350,Maryland
5,0500000US24009,Calvert,18796,20306,10010,7451,61369,Maryland
6,0500000US24013,Carroll,36152,32111,24211,13292,114866,Maryland
7,0500000US24015,Cecil,29428,18064,8299,5543,69662,Maryland
8,0500000US24017,Charles,32200,34502,17529,10694,101662,Maryland
9,0500000US24021,Frederick,39214,47415,38896,26930,164841,Maryland
10,0500000US24025,Harford,46809,55179,35032,22769,170935,Maryland
11,0500000US24027,Howard,30713,43150,61065,63341,207600,Maryland
12,0500000US24031,Montgomery,92814,136377,189721,223706,707146,Maryland
13,0500000US24033,Prince,157527,170961,109258,77528,602567,Maryland
14,0500000US24037,St.,23140,22683,10852,10166,72686,Maryland
15,0500000US24043,Washington,39001,29955,12490,8422,103483,Maryland
16,0500000US24045,Wicomico,20612,18134,9867,8376,62981,Maryland
17,0500000US24510,Baltimore,133996,95956,65113,61972,423249,Maryland
18,0500000US25001,Barnstable,37929,47972,41287,31904,165103,Massachusetts
19,0500000US25003,Berkshire,29018,26395,16002,12845,92753,Massachusetts
20,0500000US25005,Bristol,118699,99038,63624,35103,383521,Massachusetts
21,0500000US25009,Essex,131555,133220,122465,82866,527425,Massachusetts
22,0500000US25011,Franklin,14095,15076,9298,9527,52477,Massachusetts
23,0500000US25013,Hampden,88044,88620,48683,37149,311505,Massachusetts
24,0500000US25015,Hampshire,23731,25698,21073,20860,98718,Massachusetts
25,0500000US25017,Middlesex,227660,209562,291388,281672,1094885,Massachusetts
26,0500000US25021,Norfolk,98454,104710,138784,110975,481301,Massachusetts
27,0500000US25023,Plymouth,100413,102947,74655,44356,349464,Massachusetts
28,0500000US25025,Suffolk,120189,97356,122477,98735,523125,Massachusetts
29,0500000US25027,Worcester,166035,141502,123027,68447,554043,Massachusetts
...,...,...,...,...,...,...,...,...
799,0500000US55063,La,20374,26394,14630,8645,74721,Wisconsin
800,0500000US55071,Manitowoc,22965,17351,7851,3319,57253,Wisconsin
801,0500000US55073,Marathon,33472,29049,16954,6590,93596,Wisconsin
802,0500000US55079,Milwaukee,177816,181042,119177,65100,624720,Wisconsin
803,0500000US55087,Outagamie,41921,37032,25189,8345,121944,Wisconsin
804,0500000US55089,Ozaukee,12489,17834,18522,9410,60793,Wisconsin
805,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin
806,0500000US55101,Racine,39073,43981,21857,9829,132122,Wisconsin
807,0500000US55105,Rock,41553,32887,14823,8393,108609,Wisconsin
808,0500000US55109,St.,16849,20624,13472,4866,57924,Wisconsin
809,0500000US55117,Sheboygan,30755,26107,12610,4900,80530,Wisconsin
810,0500000US55127,Walworth,22731,19785,12113,7250,67745,Wisconsin
811,0500000US55131,Washington,NaN,NaN,NaN,NaN,NaN,Wisconsin
812,0500000US55133,Waukesha,65523,81403,76017,41007,275937,Wisconsin
813,0500000US55139,Winnebago,37894,37660,20599,9260,113484,Wisconsin
814,0500000US55141,Wood,19739,17940,7092,3571,52141,Wisconsin
815,0500000US56021,Laramie,16116,24273,13451,6530,65009,Wyoming
816,0500000US56025,Natrona,14515,25103,7228,4260,54784,Wyoming
817,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72021,Bayamón,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72097,Mayagüez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0100000US,United,59249552,62229012,39864014,24391012,213725624,None

In [17]:
splitFIPS = data2014["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  23019
1  0500000  23031
2  0500000  24001
3  0500000  24003
4  0500000  24005

In [19]:
data2014["Delete"]= splitFIPS[0] 
data2014["FIPS"]=splitFIPS[1]

In [20]:
data2014.drop(columns=['Delete'], inplace = True)

In [21]:
data2014.insert(len(data2014.columns), 'Year', 2014)

In [22]:
data2014.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,23019,Penobscot,34964,34501,17928,8960,107218,Maine,2014
1,23031,York,47633,44810,28380,12948,145374,Maine,2014
2,24001,Allegany,22070,14024,4206,4753,50990,Maryland,2014
3,24003,Anne,95685,107250,91435,56870,382220,Maryland,2014
4,24005,Baltimore,158116,145219,122997,88996,570350,Maryland,2014

In [23]:
path = '../dataPoints/education_2014_clean.xlsx'
data2014.to_excel(path,index=False)